
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
    *{
        box-sizing:border-box;
        margin:0;
        padding:0;
    }

    body{
        background-color:#344a72;
    }

    a{
        text-decoration: none;
    }

    #container{
        margin:0 auto;
    }